* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body {
    direction: rtl;
}
.main-header {
    display: block;
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
    background-color: #494d61;
    height: 16;
    align-items: center;
    justify-content: space-between;
}
.navbar-menu {
    width: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 330px ;
}
.navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
#home {
    background-color: #61667d;
    padding: 8px 14px;
    margin-left: 0;
}
.navbar-icon {
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}
.navbar-icon img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}
.main-logo {
    display: block;
    height: 240px;
    background-color: #fff;
}
.logo{
    height: 160px;
}
.menu {
    display: flex;
    height: 70px;
    border-top: 1px solid #f0efef;
    border-bottom: 5px solid #f0efef;
    align-items: center;
    padding-right: 400px;
}
.menu ul {
    display: flex;
    width: fit-content;
    height: 70px;
    list-style: none;
}
.menu li {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-right: 1px solid #f0efef;
    border-left: 1px solid #f0efef;
}
.menu a {
    text-decoration: none;
    color:#494d61;
    font-weight: bold;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    margin-top: 70px;
    align-items: center;
    background: url('./imges/کاشیی.jpeg') center/cover  ;
}
.title-section {
    display: flex;
    width: 60%;
    justify-content:space-between;
    align-items: center;
    color: #34353a;
}
.title-section p {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}
.cart-container {
    display: inline-block;
    width: 255px;
    height: 420px;
    border-radius: 17px;
    background-color: #fff;
    margin: 20px;
    transition: all 0.75s;
}
.cart-container:hover {
    transform: scale(1.1);
    transition: all 0.75s;
   
}

.main-cart {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 410px;
    justify-content: space-between;
    align-items: center;
}
.cart-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 240px;
    margin-top:30px ;
}
.main-cart img {
    width: 100%;
    height: 210px;
    margin-bottom: 30px;
}
.cart-button {
    display: flex;
    flex-direction: column;
}
.main-cart span {
    margin-bottom: 5px;
    color: #61667d;
}
.main-cart button {
    padding: 7px 12px;
    background-color: #1d1d1e;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.container-baners {
    display: block;
    width: 100%;
    height: 600px;
    margin: 40px 20px;
}
.main-baners {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.main-baner {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 210px;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
    background: url('./imges/banner/poster\ 3.jpeg') center/cover  ;
    margin: 0 25px;
}
.baner-button {
    display: flex;
    width: 110px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    color: #fff;
}